{%extends 'example/main.html' %}
{% load crispy_forms_tags %}

{%block content%}
<div class="text-center text-lg-start">
    <h3 class="display-3 fw-bold text-shadow">User/ <strong style="color:aqua"> Admin</strong> &nbsp;Loggin</h3>
    <h4 class=" text-shadow">Do <strong style="color:aqua">Enjoy</strong> Our Services
    </h4>
    </div>
<form method="post" enctype="multipart/form-data">
    <fieldset><legend>
    </legend>
{%csrf_token%}
{{form|crispy}}
<button class="loginbtn"type="submit">Submit</button>
<p >
    <small>Dont Have account yet? <a style="color: aqua;"href="{%url 'register'%}"> Register</a></small>
</p>

<p>
    <small>i already have account <a  style="color: aqua;" href="{%url 'login'%}"> Login</a></small>
</p>

</fieldset>
</form>

<style>
    .loginbtn{
        margin-left: 30%;
        margin-top: 2%;
        width: 70px;
        height: 40px;
        border-radius: 8px;

    }
    .loginbtn:hover{
        margin-left: 31%;
        margin-top: 2%;
        width: 75px;
        height: 40px;
        background-color: aqua;


    }
</style>
  
  {%endblock content%}